<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simple Vue.js to-do list demo">
    <meta name="author" content="Mike Sprague">
    <title>Simple Vue.js to-do list demo | &lt;/&gt; by Mike Sprague</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../shared/css/styles.css">
    <style>
      .list-group-item {
        font-weight: lighter;
      }
      .task-check {
        margin-right: 10px;
      }
      .task-text {
        cursor: pointer;
        font-size: 32px;
        line-height: 42px;
      }
      .task-completed {
        text-decoration: line-through;
      }
    </style>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <header class="container page-header">
      <h1>Simple Vue.js To-do List App</h1>
      <p class="lead">Enter text below and hit enter key to add new items. Demo is stateless, items only persist for your current page view.</p>
    </header>

    <div class="container" id="app">
      <div class="row">
        <div class="col-sm-12">
          <todo-list :tasks="allTodos"></todo-list>
        </div>
      </div>
    </div>

    <footer class="footer">
      <footer-content></footer-content>
    </footer>

    <template id="todo-list-template">
      <input class="form-control input-lg" placeholder="What do you need to do?" v-model="newTodo" @keypress.enter="addTodo( todo )">
      <hr>
      <i class="fa fa-fw fa-bar-chart"></i>
      <span v-show="!remainingTasks && completedTasks">No Tasks Remaining</span>
      <span v-show="remainingTasks">{{ remainingTasks }} {{ remainingTasks | pluralize "Task" }} Remaining</span>
      <span v-show="totalTasks > 1 && totalTasks > remainingTasks"> of {{ totalTasks }} Total {{ totalTasks | pluralize "Task" }}</span>
      <span v-show="!remainingTasks && !completedTasks">No Tasks in List</span>
      <span v-show="completedTasks"> | <a class="text-danger" href="#" @click.prevent="clearCompleted"><i class="fa fa-fw fa-times"></i>Remove Completed Tasks from List</a></span>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" v-for="todo in tasks" todo="todo">
          <i :class="{ 'fa fa-fw fa-2x fa-square-o task-check': !todo.completed, 'fa fa-fw fa-2x fa-check-square-o text-success task-check': todo.completed }" @click="toggleTodoStatus( todo )"></i>
          <span :class="{ 'task-text': !todo.completed, 'task-text task-completed text-success': todo.completed }" @click="toggleTodoStatus( todo )">
            {{ todo.task }}
          </span>
          <button class="btn btn-danger btn-sm pull-right" @click="deleteTodo( todo )"><i class="fa fa-2x fa-minus-circle"></i></button>
        </li>
      </ul>
    </template>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
    <script src="../shared/js/components.js"></script>
    <script>
      var footer = new Vue({
        el: ".footer"
      });

      Vue.component( "todo-list", {
        template: "#todo-list-template",
        props: ['tasks'],
        data: function() {
          return {
            newTodo: ""
          }
        },
        methods: {
          toggleTodoStatus: function( task ) {
            task.completed = !task.completed
          },
          deleteTodo: function( task ) {
            this.tasks.$remove( task );
          },
          addTodo: function() {
            this.tasks.push({
              task: this.newTodo,
              completed: false
            });
            this.newTodo = "";
          },
          isComplete: function( task ) {
            return task.completed;
          },
          notComplete: function( task ) {
            return !this.isComplete( task );
          },
          clearCompleted: function() {
            this.tasks = this.tasks.filter( this.notComplete );
          }
        },
        computed: {
          completedTasks: function() {
            return this.tasks.filter( this.isComplete).length;
          },
          remainingTasks: function() {
            return this.tasks.filter( this.notComplete).length;
          },
          totalTasks: function() {
            return this.tasks.length;
          }
        }
      });

      var app = new Vue({
        el: "#app",
        data: {
          allTodos: [{
              task: "Do something",
              completed: false
            }, {
              task: "Do something else",
              completed: true
          }]
        }
      });
    </script>
  </body>
</html>
