<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simple Vue.js shopping cart demo">
    <meta name="author" content="Mike Sprague">
    <title>Basic Shopping Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <style>
      html {
        position: relative;
        min-height: 100%;
      }
      body {
        background-color: #fff;
        margin-bottom: 60px;
        font-family: -apple-system, BlinkMacSystemFont,
          "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
          "Fira Sans", "Droid Sans", "Helvetica Neue",
          sans-serif;
      }
      li {
        line-height: 2em;
      }
      .product-search {
        margin-top: 36px;
      }
      .total {
        border-top: 1px dashed #3e3f3a;
        margin-top: 6px;
        padding-top: 6px;
      }
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
      }
    </style>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container" id="app">
      <div class="row">
        <div class="col-sm-7">
          <div class="row">
            <div class="input-group product-search">
              <input class="form-control" placeholder="Search products..." type="text" v-model="search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="button" @click="sortProducts( 'name' )"><i class="fa fa-unsorted"></i> Sort By Name</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" v-for="item in products | filterBy search in 'name' | orderBy sortByParam orderDir">
              <h3>{{ item.name | capitalize }}</h3>
                <li v-for="option in item.options">
                  <strong>{{ option.details | capitalize }}</strong> {{ option.price | currency }}
                  <button class="btn btn-default btn-xs" type="button" @click="addToCart( item, option )" title="Add to Cart">Add to Cart <i class="fa fa-cart-plus"></i></button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1 well">
          <h2>Shopping Cart <i class="fa fa-shopping-cart"></i></h2>
          <hr>
          <ul class="list-unstyled">
            <li class="row" v-for="item in shopping_cart">
              <div class="col-xs-8">
                <button class="btn btn-xs btn-danger" @click="removeFromCart( item )" type="button" aria-label="Remove From Cart"><i class="fa fa-times"></i></button>
                <small>{{ item.listitem }} ({{ item.price | currency }})</small> x {{ item.quantity }}
                <div class="btn-group btn-group-xs" role="group">
                  <button class="btn btn-xs btn-success" @click="addOne( item )" type="button" aria-label="Add One"><i class="fa fa-arrow-up"></i></button>
                  <button class="btn btn-xs btn-danger" @click="removeOne( item )" type="button" aria-label="Remove One"><i class="fa fa-arrow-down"></i></button>
                </div>
              </div>
              <div class="col-xs-4 text-right">
                {{ item | subvalue | currency }}
              </div>
            </li>
            <li class="row total">
              <div class="col-xs-6">{{ count }} Items</div>
              <div class="col-xs-6 text-right"><strong>{{ total | currency }}</strong></div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <footer class="footer">
      <p class="text-muted text-center">
        Built by <a href="https://mikesprague.me" target="_blank">Mike Sprague</a>.
        <br>
        Source <i class="fa fa-code"></i> available on <a href="https://github.com/mikesprague/vuejs-projects/" target="_blank"><i class="fa fa-github"></i> GitHub</a>.
      </p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
    <script src="data.js"></script>
    <script>
      Vue.filter( "subvalue", function( value ) {
        return value.price * value.quantity;
      });

      var demo = new Vue({
        el: "#app",
        data: {
          products: inventory,
          shopping_cart: [],
          subtotal: 0,
          search: "",
          orderDir: 1,
          sortByParam: "",
        },
        methods: {
          sortProducts: function( sortBy ) {
            this.orderDir *= -1;
            this.sortByParam = sortBy;
          },
          addToCart: function( product, option ) {
            var itemName = product.name + " " + option.details;
            var itemPrice = option.price;
            var itemQuantity = 1;
            for ( var index in this.shopping_cart ) {
              var cartItem = this.shopping_cart[index];
              if ( option.id === cartItem.id ) {
                itemQuantity = parseInt( cartItem.quantity ) + 1;
                itemInCart = this.shopping_cart.indexOf( cartItem );
                this.shopping_cart.splice( itemInCart, 1 );
              }
            }
            var itemToAdd = {
              price: itemPrice,
              listitem: itemName,
              quantity: itemQuantity,
              id: option.id
            }
            console.log( itemToAdd );
            this.shopping_cart.push( itemToAdd );

          },
          addOne: function( product ) {
            product.quantity++;
          },
          removeOne: function( product ) {
            product.quantity--;
            if ( product.quantity <= 0 ) {
                this.shopping_cart.$remove( product );
            }
          },
          removeFromCart: function( product ) {
            this.shopping_cart.$remove( product );
          }
        },
        computed: {
          count: function() {
            var itemCount = 0;
            for ( var idx in this.shopping_cart ) {
              var currentItem = this.shopping_cart[idx];
              itemCount += parseInt( currentItem.quantity );
            }
            return itemCount
          },
          total: function() {
            var totalCost = 0;
            for ( var idx in this.shopping_cart ) {
              var currentItem = this.shopping_cart[idx];
              totalCost += parseInt( currentItem.quantity ) * currentItem.price;
            }
            return totalCost
          }
        }
      });
    </script>
  </body>
</html>
